.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin: 1rem auto;
  font-family: system-ui, sans-serif;
}

.day {
  width: 3.5vw;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #656363;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 1.5rem;
  transition: background 0.2s, transform 0.1s;
}

.day.empty {
  border: none;
  background: transparent;
}

/* Available dates */
.available {
  background: #f7efda;
  border: 1.3px solid #7b4002;
  color: #b26229;
  font-weight: 600;
}

.available:hover {
    background: #d6caa5;
    transform: scale(1.05);
}

/* Weekends */
.weekend {
  /* background: #fbe9e7; */
  font-weight: 500;
  border: 2.5px solid rgb(169, 15, 15);
}