:root {
    --mainFont: "Raleway";
    --textColor: #5a3003;
    --primaryColor: rgb(246, 246, 238);
}

* {
    box-sizing: border-box;
    font-family: "Raleway";
    color: var(--textColor);
}

h2 {
    font-size: 2rem;
}

p, label {
    font-size: 1.3rem;
}

body {
    background-color: var(--primaryColor);
}

.hero {
    width:100%;
    height: 100vh;
}

.hotelName {
    position: absolute;
    left: 10vw;
    top: 6vw;
    font-size: 4.5rem;
    color: var(--primaryColor);
    line-height: 3.5rem;
}

.hotelName span {
    color: var(--primaryColor);
    font-size: 3rem;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mainPage {
    margin: 2rem;
}

.welcomeMessage {
    margin: 4rem 20rem 4rem 20rem;
}

.welcome {
    font-size: 3rem;
    font-weight: bold;
}

.roomsHeading {
    font-size: 2.5rem;
    margin-bottom: 0;
    border-bottom: solid 3px #5a3003;
}

.roomTypes article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendarContainer h3 {
    margin-top: 2.5rem;
}

.roomDescription {
    width: 25%;
}

.roomTypeImage {
    width: 40%;
    height: auto;
    margin: 1rem;
}

.roomTypeImage img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.reservationHeading {
    padding-top: 1rem;
    border-top: solid 3px var(--textColor);
}

.bookingForm {
    display: flex;
}

.formFeatures {
    width: 35%;
    padding: 1rem;
}

.formFeatures h3 {
    margin-bottom: 0.2rem;
}

.featuresHeading {
    font-size: 1.5rem;
    font-weight: bold;
}

.formInputs {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    font-size: 1.5rem;
}

.formInputs input, .formInputs select {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.submitButton {
    margin: 1rem;
    height: 2rem;
    border-radius: 10px;
    border-color: var(--textColor);
}

.submitButton:hover {
    transform: scale(1.05);
}

#formErrors {
    padding: 1.5rem;
}

.error {
    color: crimson;
}

/* confirmation.php */
.confirmationNav {
    width: 100%;
    background-color: rgb(200, 202, 200);
    display: flex;
    align-items: center;
}

.confirmationNav a {
    font-size: 1.5rem;
    margin: 0.7rem;
}

.confirmationMessage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}