:root {
    --mainFont: "Raleway";
}

* {
    box-sizing: border-box;
    font-family: "Raleway";
}

body {
    background-color: rgb(246, 246, 238);
}

.hero {
    width:100%;
    height: 100vh;
}

.hotelName {
    position: absolute;
    left: 10vw;
    top: 7vw;
    font-size: 4.5rem;
    color: white;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.roomTypes article {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.calendarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roomDescription {
    width: 25%;
}

.roomTypeImage {
    width: 40%;
    height: auto;
    margin: 1rem;
}

.roomTypeImage img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.bookingForm {
    display: flex;
}

.formFeatures {
    width: 35%;
    padding: 1rem;
}

.formInputs {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    font-size: 1.5rem;
}

.formInputs input, .formInputs select {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.submitButton {
    margin: 1rem;
    height: 2rem;
    border-radius: 10px;
}

.submitButton:hover {
    transform: scale(1.05);
}

/* confirmation.php */
.confirmationNav {
    width: 100%;
    background-color: rgb(200, 202, 200);
    display: flex;
    align-items: center;
}

.confirmationNav a {
    font-size: 1.5rem;
    margin: 0.7rem;
}

.confirmationMessage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}